@using PhotoPavilion.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- font-awesome icons -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- //font-awesome icons -->
    <link rel='icon' href='~/favicon.ico' type='image/x-icon' />
</head>
<body>
    <header>
        <partial name="_NavbarPartial" />
    </header>

    <partial name="_CookieConsentPartial" />
    <main role="main">
        @this.RenderBody()
    </main>

    <partial name="_FooterPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @this.RenderSection("Scripts", required: false)
</body>
</html>
