.monospaced {
    font-family: 'Ubuntu Mono', monospaced;
}
.add-to-cart .btn-qty {
    width: 60px;
    height: 46px;
}
.add-to-cart .btn {
    border-radius: 0;
}
.add-to-cart .btn:hover {
    background: #373637;
    color: #fddd0c !important;
}
.tabs {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding-top: 20px;
}
.tabs ul li {
    float: left;
    margin-right: 5px;
    background: transparent;
    width: auto;
    height: auto;
    border-bottom: none !important;
}
.nav > li > a:hover,
.nav > li > a:focus {
    border-radius: .25rem;
}
.comment-decoration input[type="submit"] {
    outline: none;
    font-style: normal;
    padding: 8px 20px;
    background: #fddd0c;
    font-size: 14px;
    color: #000;
    display: block;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.comment-decoration input[type="submit"]:hover {
    text-decoration: none;
    color: #fddd0c;
    background: #222;
}
.media-body span a {
    color: #ff8d1b;
    text-decoration: none;
}